@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    margin: auto;
    padding: .5rem;
}

:root {

    --primary-color: #0B2027;
    --secondary-color: #738f22; 
    /* --secondary-color: #eeecec; */
    --accent1-color: #268F90;  
    --accent2-color: #E26E3C;
 
  
    --heading-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;
  

    --nav-background-color: var(--primary-color);
    --nav-link-color: var(--accent2-color);
    --nav-hover-link-color: var(--secondary-color);
    --nav-hover-background-color: var(--accent1-color);
  }

h1, h2 {
    font-family: var(--heading-font);
    color: #0B2027;
}

/* Header Section */

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
    padding: 7px 0;
  
}

header .logo {
    width: 150px;

}

/* Nav Section */

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 800;
}

header nav a {
    color: var(--primary-color);
    text-decoration: none;
    margin-right: 1px;
}

header nav a:hover {
    color: white; 
    background-color: #268F90;
    padding: 5px; 
    border-radius: 5px;
} 

/* Hero Section */
.hero {
    position: relative;
    background: url('images/happy2.jpg') no-repeat center center;
    height: 275px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.hero h1 {
    position: absolute;
    top: 25px; /* Adjust as needed based on layout */
    left: 6px;
    width: 98%;
    font-size: 2.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 10px;
}

.hero article {
    position: absolute;
    top: 100px; /* Adjust as needed based on layout */
    left: 100px;
    width: 80%;
    background-color: rgba(34, 130, 143, 0.5);
    padding: 5px;
    color: white;
    text-align: left;
}

.hero article img {
    width: 150px;
    height: auto;
    padding: 2px;
    float: right;
    margin: 0 0 1rem 1rem;
}


/* History Section */
.history {
    margin-top: 0;
    margin-bottom: 20px;
}

.history h2 {
    text-align: center;
}

.history-grid {
    display: grid;
    grid-template-columns: 1fr 150px 1fr; 
    gap: 20px;
    align-items: center; 
}

.history img {
    width: 100%;
    height: auto;
    justify-self: center; 
}

.history p {
    text-align: justify; 
    padding: 10px; 
}

.p1 {
    grid-column: 1;
    font-size: 1rem; 
}

.p2 {
    grid-column: 3;
}

.adventure {
    text-align: center;
}

.adventure-images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-items: center;
}

.adventure-images figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adventure-images img {
    width: 100%; 
    height: 100%;
}

.adventure-images figcaption {
    margin-top: 5px; 
    font-size: 0.9rem;
}


/* Footer section */
.site-footer {
    display: grid;
    grid-template-columns: 1fr 160px;
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    padding: 10px;
    margin-right: 10px;
}

footer nav.sociallinks a {
    text-decoration: none;
    margin-right: 5px;
}

footer nav.sociallinks img {
    width: 30px;
    height: 30px
}



/* Contact Us page additions */

/* contact-us section */

.river-adv h1 {
    position: absolute;
    text-align: center;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: #0B2027;
    z-index: 10;

}

.contact-us {
    position: relative;
    text-align: center;
    color: white;
}

.contact-us .background-image {
    width: 100%;
    height: auto;
}

.contact-us h2 {
    position: absolute;
    text-align: left;
    top: 98px;
    left: 30px;
    width: 100%;
    font-size: 2rem;
    color: white; 
}

.contact-us article {
    position: absolute;
    text-align: left;
    top: 150px;
    left: 20px;
    width: 100%;
    font-size: 1rem;
    color: white; 
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 49%
}

.contact-us a {
    color: #fff;
    text-decoration: underline;
}

/* Company Info */
.company-info p {
    margin: 0.5rem 0;
}

.map-container {
    width: 100%;
    height: 300px;
    margin-top: 1rem;
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: #738f22;
    border-radius: 10px;
    box-shadow: 0 4px 8px #0B2027;

} 

/* Employee images */
.happy-employee {
    text-align: center;
    padding: 10px;
    border-style: solid;
    border-color: #268F90;
    border-width: 3px;
    margin-inline: 35%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 4px 8px #0B2027;
}

.employee-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    justify-items: center; 

}

.employee-images figure  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.employee-images img {
    height: 100%;
}

.wider-image img {
    width: 120%;
}

.small-im1 img {
    width: 80%;
}


/* Contact Form */

.contact-form {
    margin-top: 40px;
    background-color: #eeecec;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #268F90;
}

.contact-form h2 {
    margin-bottom: 10px;
    text-align: center;
    color: #0B2027;
    text-decoration: underline;
    text-decoration-color: #268F90;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-top: 1rem;
    font-weight: bold;
    color: var(--primary-color);
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-top: 0.5rem;
    border: 1px solid #0B2027;
    border-radius: 5px;
    font-size: 1rem;
}

.contact-form button {
    background-color: #E26E3C;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    width: 20%;
}

.contact-form button:hover {
    background-color: var(--accent1-color);
}

.contact-form fieldset {
    margin-top: 1rem;
    border: none;
    padding: 0;
}

.contact-form legend {
    font-weight: bold;
    color: var(--primary-color);
}



/* Trip page updates */

.book h1 {
    position: absolute;
    text-align: center;
    top: 170px;
    left: 400px;
    width: 500px;
    color: white;
    font-size: 2rem;
    background-color: rgba(226, 110, 60, 0.534);
    width: 30%;


}

.cta-contact img {
    width: 100%;
    height: auto; 
}

.cta-contact h2{
    
    margin-top: 10px;
    margin-left: 20px;
    font-size: 2rem;
    border-top-style: solid;
    border-color: #268F90;
    width: 40%

}

.cta-contact p {
    /* margin-left: 80px; */
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    border-top-style: solid;
    border-color: #E26E3C;
    width: 43%
}


/* trip info */
.trip-descriptions{
    text-align: center;
}

.trip-descriptions h2{
    margin-top: 20px;
    text-align: center;
    font-size: 2rem;
    color: #0B2027;
    background-image: linear-gradient(#738f22, #eeecec 50%, #738f22);
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
}



.trip-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    justify-items: center;
    gap: 10px;
    margin-top: 20px;
}

.trip-images figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: #eeecec;
    border-style: outset;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 4px 8px #738f22;

} 

.trip-images img {
    width: 90%; 
    height: 100%;
} 

.trip-descriptions h3{
    color: #0B2027;
    margin-bottom: 10px;
    margin-top: 10px;
}

.trip-descriptions p {
    color: #0B2027;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

/*Bottom table */

.trip-table h2 {
    text-align: center;
    margin-top: 20px;
    color: black;
    text-decoration: underline;
    text-decoration-color:  #268F90;
    text-decoration-thickness: 3px;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 18px;
    text-align: left;
    background-image: linear-gradient(#E26E3C, #eeecec 60%, #E26E3C);
    border-radius: 5px;

}

table thead tr {
    /* background-color: #eeecec; */
    /* color: #E26E3C; */
    text-align: left;
    /* border-left: 3px solid #268F90;
    border-right: 3px solid #268F90;
    border-top: 3px solid #268F90;
    border-bottom: 3px solid #268F90; */
    color: white
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    /* border-left: 3px solid #268F90;
    border-right: 3px solid #268F90; */

}

/* table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
} */

table tbody tr:last-of-type {
    /* border-bottom: 2px solid #268F90; */
}




tr:hover {
    background-color: var(--accent1-color);
    color: white
}

/* book now button */

.trip-images .book-now {
    background-color: #738f22;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 10px;
}

.trip-images .book-now:hover {
    background-color: #268F90;
}

/* home page updates */

/* Newsletter Signup Form */

.thrill {
    position: relative;
    background-size: cover;
    height: 275px;
    width: 98%;
    text-align: center;
    box-sizing: border-box;
}

.thrill h1 {
    position: absolute;
    top: 25px; /* Adjust as needed based on layout */
    left: 6px;
    width: 100%;
    font-size: 2.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 10px;
}

.newsletter-signup {
    margin-top: 80px;
    padding: 40px 20px;
    background-color: #f5f5f5;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.newsletter-signup h2 {
    color: #0B2027;
    margin-bottom: 20px;
    font-size: 2rem;
}

.newsletter-signup form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter-signup label {
    font-weight: bold;
    margin-top: 10px;
    color: #0B2027;
    text-align: left;
    width: 100%;
    max-width: 400px;
}

.newsletter-signup input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #738f22;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
}

.newsletter-signup button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #E26E3C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.newsletter-signup button:hover {
    background-color: #268F90;
}

.cta {
    margin-top: 10px;

}

.cta p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.rafting{
    text-align: center;
    margin-top: 20px;
}

.rafting h2{
    background-image: linear-gradient(#738f22, #eeecec 50%, #738f22);
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    align-items: center; 
    margin-top: 10px;
}

.grid-layout figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: #eeecec;
    border-style: outset;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 4px 8px #738f22;

}


.grid-layout img {
    width: 100%;
    height: auto;
    justify-self: center; 
}

.grid-layout p {
    text-align: justify; 
    padding: 10px; 
}


/* link updates */

/* Global link color */
a {
    color: #E26E3C;
    text-decoration: none;
    text-decoration-thickness: 4px;
}

/* Hover state for links */
a:hover {
    color: #268F90;
    
}