
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 700;
    color: white;
}

h1 {
    color: steelblue;
    padding: .5rem;
    padding-bottom: 1rem;
    border-bottom: solid;
    /* font-size: 2rem */
}

main img {
    width: 200px;
    height: auto;
    border: 1px solid steelblue;
    padding: 1.5px;
    box-shadow: 0 0 20px gray;
    float: right;
    margin: 1rem 0 1rem 1rem;
}

p {
    padding: 17px;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 250px;
    height: 250px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 25px; /* Adjust as needed based on layout */
    left: 130px; /* Adjust as needed based on layout */
    /* color: white; */
}

header, footer {
    margin: 0 auto;
    /* max-width: 840px */
    max-width: var(--max-container-width);

}

.grid {
    display: grid;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
} 

main {
    grid-column: 2 / 3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
} 
